### Import Required Libraries and Set Up Environment Variables

In [1]:
# Dependencies
import requests
import time
from dotenv import load_dotenv
import os
import pandas as pd
import json
import os
from datetime import datetime
## Load the NASA_API_KEY from the env file
load_dotenv("example.env")
NASA_API_KEY = os.getenv('NASA_API_KEY')

### CME Data

In [3]:
# Set the base URL to NASA's DONKI API:
base_url = "https://api.nasa.gov/DONKI/CME"

# Set the specifier for CMEs:
CME = "CME"

# Search for CMEs published between a begin and end date
startDate = "2013-05-01"
endDate   = "2024-05-01"

# Build URL for CME
CME_url = f"{base_url}?startDate={startDate}&endDate={endDate}&api_key={NASA_API_KEY}"
print(CME_url)

https://api.nasa.gov/DONKI/CME?startDate=2013-05-01&endDate=2024-05-01&api_key=SB8BXHsaOFRvXPpn44NzUzyaBK6lHutUYtsRC1zO

In [5]:
# Make a "GET" request for the CME URL and store it in a variable named cme_response
cme_response = requests.get(CME_url)
cme_response

In [9]:
# Convert the response variable to json and store it as a variable named cme_json
cme_json = cme_response.json()

In [11]:
# Preview the first result in JSON format
first_result = cme_json[0]

# Use json.dumps with argument indent=4 to format data
print(json.dumps(first_result, indent=4))

{
    "activityID": "2013-05-01T03:12:00-CME-001",
    "catalog": "M2M_CATALOG",
    "startTime": "2013-05-01T03:12Z",
    "instruments": [
        {
            "displayName": "SOHO: LASCO/C2"
        },
        {
            "displayName": "SOHO: LASCO/C3"
        },
        {
            "displayName": "STEREO A: SECCHI/COR2"
        },
        {
            "displayName": "STEREO B: SECCHI/COR2"
        }
    ],
    "sourceLocation": "",
    "activeRegionNum": null,
    "note": "",
    "submissionTime": "2013-08-07T16:54Z",
    "versionId": 1,
    "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CME/2349/-1",
    "cmeAnalyses": [
        {
            "isMostAccurate": true,
            "time21_5": "2013-05-01T07:07Z",
            "latitude": 12.0,
            "longitude": -120.0,
            "halfAngle": 36.0,
            "speed": 860.0,
            "type": "C",
            "featureCode": "null",
            "imageType": null,
            "measurementTechnique": "null",
            "note": "",
            "levelOfData": 0,
            "tilt": null,
            "minorHalfWidth": null,
            "speedMeasuredAtHeight": null,
            "submissionTime": "2013-08-07T16:54Z",
            "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CMEAnalysis/2350/-1",
            "enlilList": [
                {
                    "modelCompletionTime": "2013-05-01T08:32Z",
                    "au": 2.0,
                    "estimatedShockArrivalTime": null,
                    "estimatedDuration": null,
                    "rmin_re": null,
                    "kp_18": null,
                    "kp_90": null,
                    "kp_135": null,
                    "kp_180": null,
                    "isEarthGB": false,
                    "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/WSA-ENLIL/2348/-1",
                    "impactList": [
                        {
                            "isGlancingBlow": false,
                            "location": "STEREO B",
                            "arrivalTime": "2013-05-04T06:16Z"
                        }
                    ],
                    "cmeIDs": [
                        "2013-05-01T03:12:00-CME-001"
                    ]
                }
            ]
        }
    ],
    "linkedEvents": [
        {
            "activityID": "2013-05-04T04:52:00-IPS-001"
        }
    ]
}

In [13]:
# Convert cme_json to a Pandas DataFrame 
cme_df = pd.json_normalize(cme_json)
cme_df
# Keep only the columns: activityID, startTime, linkedEvents
cme_df_short = cme_df[['activityID', 'startTime', 'linkedEvents']]
cme_df_short

,activityID,startTime,linkedEvents
0,2013-05-01T03:12:00-CME-001,2013-05-01T03:12Z,[{'activityID': '2013-05-04T04:52:00-IPS-001'}]
1,2013-05-02T05:24:00-CME-001,2013-05-02T05:24Z,None
2,2013-05-02T14:36:00-CME-001,2013-05-02T14:36Z,None
3,2013-05-03T18:00:00-CME-001,2013-05-03T18:00Z,None
4,2013-05-03T22:36:00-CME-001,2013-05-03T22:36Z,[{'activityID': '2013-05-07T04:37:00-IPS-001'}]
...,...,...,...
5519,2024-05-01T06:36:00-CME-001,2024-05-01T06:36Z,None
5520,2024-05-01T11:36:00-CME-001,2024-05-01T11:36Z,None
5521,2024-05-01T12:36:00-CME-001,2024-05-01T12:36Z,None
5522,2024-05-01T17:36:00-CME-001,2024-05-01T17:36Z,None
5523,2024-05-01T23:16:00-CME-001,2024-05-01T23:16Z,[{'activityID': '2024-05-01T22:26:00-FLR-001'}]

In [15]:
# Notice that the linkedEvents column allows us to identify the corresponding GST
# Remove rows with missing 'linkedEvents' since we won't be able to assign these to GSTs
import numpy as np
cme_df_short['linkedEvents'] = cme_df_short['linkedEvents'].replace({None: np.nan})
cme_df_short
cme_df_clean = cme_df_short.dropna(subset=['linkedEvents'])
cme_df_clean

/var/folders/48/x7f5kn5x7nbg0mk1f5_t11m80000gn/T/ipykernel_34878/890213373.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cme_df_short['linkedEvents'] = cme_df_short['linkedEvents'].replace({None: np.nan})

,activityID,startTime,linkedEvents
0,2013-05-01T03:12:00-CME-001,2013-05-01T03:12Z,[{'activityID': '2013-05-04T04:52:00-IPS-001'}]
4,2013-05-03T22:36:00-CME-001,2013-05-03T22:36Z,[{'activityID': '2013-05-07T04:37:00-IPS-001'}]
7,2013-05-09T19:29:00-CME-001,2013-05-09T19:29Z,[{'activityID': '2013-05-12T23:30:00-IPS-001'}]
10,2013-05-13T02:54:00-CME-001,2013-05-13T02:54Z,[{'activityID': '2013-05-13T01:53:00-FLR-001'}...
13,2013-05-13T16:18:00-CME-001,2013-05-13T16:18Z,[{'activityID': '2013-05-13T15:40:00-FLR-001'}...
...,...,...,...
5496,2024-04-24T01:48:00-CME-001,2024-04-24T01:48Z,[{'activityID': '2024-04-26T00:17:00-IPS-001'}]
5499,2024-04-24T15:05:00-CME-001,2024-04-24T15:05Z,[{'activityID': '2024-04-24T14:02:00-FLR-001'}]
5504,2024-04-25T18:24:00-CME-001,2024-04-25T18:24Z,[{'activityID': '2024-04-25T17:03:00-FLR-001'}]
5516,2024-04-30T00:36:00-CME-001,2024-04-30T00:36Z,[{'activityID': '2024-04-30T00:46:00-FLR-001'}]
5523,2024-05-01T23:16:00-CME-001,2024-05-01T23:16Z,[{'activityID': '2024-05-01T22:26:00-FLR-001'}]

In [17]:
# Notice that the linkedEvents sometimes contains multiple events per row
# Write a nested for loop that iterates first over each row in the cme DataFrame (using the index)
# and then iterates over the values in 'linkedEvents' 
# and adds the elements individually to a list of dictionaries where each row is one element 

# Initialize an empty list to store the expanded rows
expanded_rows = []

# Iterate over each index in the DataFrame
for i in cme_df_clean.index:
    activityID = cme_df_clean.loc[i, 'activityID']
    startTime = cme_df_clean.loc[i, 'startTime']
    linkedEvents = cme_df_clean.loc[i, 'linkedEvents']
    # Iterate over each dictionary in the list
    try: 
        for item in linkedEvents:
            x = {'activityID':activityID, 'startTime':startTime, 'linkedEvents':item}
            expanded_rows.append(x)
    except:
        print('missing activity')
        # Append a new dictionary to the expanded_rows list for each dictionary item and corresponding 'activityID' and 'startTime' value
# Create a new DataFrame from the expanded rows
expanded_rows_df = pd.DataFrame(expanded_rows)
expanded_rows_df

,activityID,startTime,linkedEvents
0,2013-05-01T03:12:00-CME-001,2013-05-01T03:12Z,{'activityID': '2013-05-04T04:52:00-IPS-001'}
1,2013-05-03T22:36:00-CME-001,2013-05-03T22:36Z,{'activityID': '2013-05-07T04:37:00-IPS-001'}
2,2013-05-09T19:29:00-CME-001,2013-05-09T19:29Z,{'activityID': '2013-05-12T23:30:00-IPS-001'}
3,2013-05-13T02:54:00-CME-001,2013-05-13T02:54Z,{'activityID': '2013-05-13T01:53:00-FLR-001'}
4,2013-05-13T02:54:00-CME-001,2013-05-13T02:54Z,{'activityID': '2013-05-13T04:12:00-SEP-001'}
...,...,...,...
1709,2024-04-24T01:48:00-CME-001,2024-04-24T01:48Z,{'activityID': '2024-04-26T00:17:00-IPS-001'}
1710,2024-04-24T15:05:00-CME-001,2024-04-24T15:05Z,{'activityID': '2024-04-24T14:02:00-FLR-001'}
1711,2024-04-25T18:24:00-CME-001,2024-04-25T18:24Z,{'activityID': '2024-04-25T17:03:00-FLR-001'}
1712,2024-04-30T00:36:00-CME-001,2024-04-30T00:36Z,{'activityID': '2024-04-30T00:46:00-FLR-001'}
1713,2024-05-01T23:16:00-CME-001,2024-05-01T23:16Z,{'activityID': '2024-05-01T22:26:00-FLR-001'}

In [19]:
# Create a function called extract_activityID_from_dict that takes a dict as input such as in linkedEvents
# and verify below that it works as expected using one row from linkedEvents as an example
# Be sure to use a try and except block to handle errors
def extract_activityID_from_dict(input_dict):
    try:
        return input_dict['activityID']
    except KeyError as e:
        print(f"KeyError: {e} - The Key 'activityID' was not found in the dictionary.")
        return None
    except (ValueError, TypeError) as e:
        print(f"Error: {e} - The input was not a valid dictionary.")
        return None

In [21]:
# Apply this function to each row in the 'linkedEvents' column (you can use apply() and a lambda function)
# and create a new column called 'GST_ActivityID' using loc indexer:
expanded_rows_df.loc[:, 'GST_ActivityID'] = expanded_rows_df['linkedEvents'].apply(lambda x: extract_activityID_from_dict(x))
expanded_rows_df.head()

,activityID,startTime,linkedEvents,GST_ActivityID
0,2013-05-01T03:12:00-CME-001,2013-05-01T03:12Z,{'activityID': '2013-05-04T04:52:00-IPS-001'},2013-05-04T04:52:00-IPS-001
1,2013-05-03T22:36:00-CME-001,2013-05-03T22:36Z,{'activityID': '2013-05-07T04:37:00-IPS-001'},2013-05-07T04:37:00-IPS-001
2,2013-05-09T19:29:00-CME-001,2013-05-09T19:29Z,{'activityID': '2013-05-12T23:30:00-IPS-001'},2013-05-12T23:30:00-IPS-001
3,2013-05-13T02:54:00-CME-001,2013-05-13T02:54Z,{'activityID': '2013-05-13T01:53:00-FLR-001'},2013-05-13T01:53:00-FLR-001
4,2013-05-13T02:54:00-CME-001,2013-05-13T02:54Z,{'activityID': '2013-05-13T04:12:00-SEP-001'},2013-05-13T04:12:00-SEP-001

In [23]:
# Remove rows with missing GST_ActivityID, since we can't assign them to GSTs:
clean_cme_df = expanded_rows_df.dropna(subset=['GST_ActivityID'])
clean_cme_df

,activityID,startTime,linkedEvents,GST_ActivityID
0,2013-05-01T03:12:00-CME-001,2013-05-01T03:12Z,{'activityID': '2013-05-04T04:52:00-IPS-001'},2013-05-04T04:52:00-IPS-001
1,2013-05-03T22:36:00-CME-001,2013-05-03T22:36Z,{'activityID': '2013-05-07T04:37:00-IPS-001'},2013-05-07T04:37:00-IPS-001
2,2013-05-09T19:29:00-CME-001,2013-05-09T19:29Z,{'activityID': '2013-05-12T23:30:00-IPS-001'},2013-05-12T23:30:00-IPS-001
3,2013-05-13T02:54:00-CME-001,2013-05-13T02:54Z,{'activityID': '2013-05-13T01:53:00-FLR-001'},2013-05-13T01:53:00-FLR-001
4,2013-05-13T02:54:00-CME-001,2013-05-13T02:54Z,{'activityID': '2013-05-13T04:12:00-SEP-001'},2013-05-13T04:12:00-SEP-001
...,...,...,...,...
1709,2024-04-24T01:48:00-CME-001,2024-04-24T01:48Z,{'activityID': '2024-04-26T00:17:00-IPS-001'},2024-04-26T00:17:00-IPS-001
1710,2024-04-24T15:05:00-CME-001,2024-04-24T15:05Z,{'activityID': '2024-04-24T14:02:00-FLR-001'},2024-04-24T14:02:00-FLR-001
1711,2024-04-25T18:24:00-CME-001,2024-04-25T18:24Z,{'activityID': '2024-04-25T17:03:00-FLR-001'},2024-04-25T17:03:00-FLR-001
1712,2024-04-30T00:36:00-CME-001,2024-04-30T00:36Z,{'activityID': '2024-04-30T00:46:00-FLR-001'},2024-04-30T00:46:00-FLR-001
1713,2024-05-01T23:16:00-CME-001,2024-05-01T23:16Z,{'activityID': '2024-05-01T22:26:00-FLR-001'},2024-05-01T22:26:00-FLR-001

In [25]:
# print out the datatype of each column in this DataFrame:
clean_cme_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1714 entries, 0 to 1713
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   activityID      1714 non-null   object
 1   startTime       1714 non-null   object
 2   linkedEvents    1714 non-null   object
 3   GST_ActivityID  1714 non-null   object
dtypes: object(4)
memory usage: 53.7+ KB

In [27]:
# Convert the 'GST_ActivityID' column to string format 
clean_cme_df['GST_ActivityID'] = clean_cme_df['GST_ActivityID'].astype(str)
# Convert startTime to datetime format  
clean_cme_df['startTime'] = pd.to_datetime(clean_cme_df['startTime'])
clean_cme_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1714 entries, 0 to 1713
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   activityID      1714 non-null   object
 1   startTime       1714 non-null   datetime64[ns, UTC]
 2   linkedEvents    1714 non-null   object
 3   GST_ActivityID  1714 non-null   object
dtypes: datetime64[ns, UTC](1), object(3)
memory usage: 53.7+ KB

In [29]:
# Rename startTime to startTime_CME and activityID to cmeID
clean_cme_df = clean_cme_df.rename(columns={
    'startTime': 'startTime_CME',
    'activityID': 'cmeID'
})
clean_cme_df
# Drop linkedEvents
cme_df_final = clean_cme_df.drop(columns=['linkedEvents'])
cme_df_final
# Verify that all steps were executed correctly

,cmeID,startTime_CME,GST_ActivityID
0,2013-05-01T03:12:00-CME-001,2013-05-01 03:12:00+00:00,2013-05-04T04:52:00-IPS-001
1,2013-05-03T22:36:00-CME-001,2013-05-03 22:36:00+00:00,2013-05-07T04:37:00-IPS-001
2,2013-05-09T19:29:00-CME-001,2013-05-09 19:29:00+00:00,2013-05-12T23:30:00-IPS-001
3,2013-05-13T02:54:00-CME-001,2013-05-13 02:54:00+00:00,2013-05-13T01:53:00-FLR-001
4,2013-05-13T02:54:00-CME-001,2013-05-13 02:54:00+00:00,2013-05-13T04:12:00-SEP-001
...,...,...,...
1709,2024-04-24T01:48:00-CME-001,2024-04-24 01:48:00+00:00,2024-04-26T00:17:00-IPS-001
1710,2024-04-24T15:05:00-CME-001,2024-04-24 15:05:00+00:00,2024-04-24T14:02:00-FLR-001
1711,2024-04-25T18:24:00-CME-001,2024-04-25 18:24:00+00:00,2024-04-25T17:03:00-FLR-001
1712,2024-04-30T00:36:00-CME-001,2024-04-30 00:36:00+00:00,2024-04-30T00:46:00-FLR-001
1713,2024-05-01T23:16:00-CME-001,2024-05-01 23:16:00+00:00,2024-05-01T22:26:00-FLR-001

In [31]:
# We are only interested in CMEs related to GSTs so keep only rows where the GST_ActivityID column contains 'GST'
# use the method 'contains()' from the str library.  
filtered_cme= cme_df_final[cme_df_final['GST_ActivityID'].str.contains('GST', na=False)]
filtered_cme

,cmeID,startTime_CME,GST_ActivityID
21,2013-06-02T20:24:00-CME-001,2013-06-02 20:24:00+00:00,2013-06-07T03:00:00-GST-001
48,2013-09-29T22:40:00-CME-001,2013-09-29 22:40:00+00:00,2013-10-02T03:00:00-GST-001
90,2013-12-04T23:12:00-CME-001,2013-12-04 23:12:00+00:00,2013-12-08T00:00:00-GST-001
148,2014-02-16T14:15:00-CME-001,2014-02-16 14:15:00+00:00,2014-02-19T03:00:00-GST-001
151,2014-02-18T01:25:00-CME-001,2014-02-18 01:25:00+00:00,2014-02-20T03:00:00-GST-001
...,...,...,...
1519,2023-12-14T17:38:00-CME-001,2023-12-14 17:38:00+00:00,2023-12-18T06:00:00-GST-001
1645,2024-02-28T17:48:00-CME-001,2024-02-28 17:48:00+00:00,2024-03-03T18:00:00-GST-001
1665,2024-03-23T01:25:00-CME-001,2024-03-23 01:25:00+00:00,2024-03-24T12:00:00-GST-001
1669,2024-03-23T01:48:00-CME-001,2024-03-23 01:48:00+00:00,2024-03-24T12:00:00-GST-001
1689,2024-04-15T06:48:00-CME-001,2024-04-15 06:48:00+00:00,2024-04-19T18:00:00-GST-001

In [33]:
filtered_cme.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 21 to 1689
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cmeID           61 non-null     object
 1   startTime_CME   61 non-null     datetime64[ns, UTC]
 2   GST_ActivityID  61 non-null     object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 1.9+ KB

### GST Data

In [35]:
# Set the base URL to NASA's DONKI API:
base_url = "https://api.nasa.gov/DONKI/GST"

# Set the specifier for Geomagnetic Storms (GST):
GST = "GST"

# Search for GSTs between a begin and end date
startDate = "2013-05-01"
endDate   = "2024-05-01"

# Build URL for GST
GST_url = f"{base_url}?startDate={startDate}&endDate={endDate}&api_key={NASA_API_KEY}"
print(GST_url)

https://api.nasa.gov/DONKI/GST?startDate=2013-05-01&endDate=2024-05-01&api_key=SB8BXHsaOFRvXPpn44NzUzyaBK6lHutUYtsRC1zO

In [37]:
# Make a "GET" request for the GST URL and store it in a variable named gst_response
gst_response = requests.get(GST_url)
gst_response

In [39]:
# Convert the response variable to json and store it as a variable named gst_json
gst_json = gst_response.json()
# Preview the first result in JSON format
# Use json.dumps with argument indent=4 to format data
print(json.dumps(gst_json[0], indent=4))

{
    "gstID": "2013-06-01T01:00:00-GST-001",
    "startTime": "2013-06-01T01:00Z",
    "allKpIndex": [
        {
            "observedTime": "2013-06-01T01:00Z",
            "kpIndex": 6.0,
            "source": "NOAA"
        }
    ],
    "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/GST/326/-1",
    "linkedEvents": [
        {
            "activityID": "2013-05-31T15:45:00-HSS-001"
        }
    ],
    "submissionTime": "2013-07-15T19:26Z",
    "versionId": 1
}

In [41]:
gst_df = pd.json_normalize(gst_json)
gst_df

,gstID,startTime,allKpIndex,link,linkedEvents,submissionTime,versionId
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,"[{'observedTime': '2013-06-01T01:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,[{'activityID': '2013-05-31T15:45:00-HSS-001'}],2013-07-15T19:26Z,1
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,"[{'observedTime': '2013-06-07T03:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,[{'activityID': '2013-06-02T20:24:00-CME-001'}],2013-07-15T19:41Z,1
2,2013-06-29T03:00:00-GST-001,2013-06-29T03:00Z,"[{'observedTime': '2013-06-29T03:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,None,2013-09-25T04:48Z,2
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,"[{'observedTime': '2013-10-02T06:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,[{'activityID': '2013-09-29T22:40:00-CME-001'}...,2013-10-02T13:23Z,1
4,2013-12-08T00:00:00-GST-001,2013-12-08T00:00Z,"[{'observedTime': '2013-12-08T03:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,[{'activityID': '2013-12-04T23:12:00-CME-001'}...,2013-12-08T03:42Z,1
...,...,...,...,...,...,...,...
112,2023-12-18T06:00:00-GST-001,2023-12-18T06:00Z,"[{'observedTime': '2023-12-18T09:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,[{'activityID': '2023-12-14T17:38:00-CME-001'}...,2023-12-18T09:34Z,1
113,2024-03-03T18:00:00-GST-001,2024-03-03T18:00Z,"[{'observedTime': '2024-03-03T21:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,[{'activityID': '2024-02-28T17:48:00-CME-001'}...,2024-03-03T21:35Z,1
114,2024-03-23T21:00:00-GST-001,2024-03-23T21:00Z,"[{'observedTime': '2024-03-24T00:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,[{'activityID': '2024-03-23T12:49:00-IPS-001'}...,2024-03-24T00:33Z,1
115,2024-03-24T12:00:00-GST-001,2024-03-24T12:00Z,"[{'observedTime': '2024-03-24T15:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,[{'activityID': '2024-03-23T01:25:00-CME-001'}...,2024-03-24T15:31Z,1
116,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,"[{'observedTime': '2024-04-19T21:00Z', 'kpInde...",https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...,[{'activityID': '2024-04-15T06:48:00-CME-001'}...,2024-04-19T21:40Z,1

In [43]:
# Convert gst_json to a Pandas DataFrame  
gst_df = pd.json_normalize(gst_json)

# Keep only the columns: , startTime, linkedEvents
gst_df_short = gst_df[['gstID', 'startTime', 'linkedEvents']]
gst_df_short

,gstID,startTime,linkedEvents
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,[{'activityID': '2013-05-31T15:45:00-HSS-001'}]
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,[{'activityID': '2013-06-02T20:24:00-CME-001'}]
2,2013-06-29T03:00:00-GST-001,2013-06-29T03:00Z,None
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,[{'activityID': '2013-09-29T22:40:00-CME-001'}...
4,2013-12-08T00:00:00-GST-001,2013-12-08T00:00Z,[{'activityID': '2013-12-04T23:12:00-CME-001'}...
...,...,...,...
112,2023-12-18T06:00:00-GST-001,2023-12-18T06:00Z,[{'activityID': '2023-12-14T17:38:00-CME-001'}...
113,2024-03-03T18:00:00-GST-001,2024-03-03T18:00Z,[{'activityID': '2024-02-28T17:48:00-CME-001'}...
114,2024-03-23T21:00:00-GST-001,2024-03-23T21:00Z,[{'activityID': '2024-03-23T12:49:00-IPS-001'}...
115,2024-03-24T12:00:00-GST-001,2024-03-24T12:00Z,[{'activityID': '2024-03-23T01:25:00-CME-001'}...
116,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,[{'activityID': '2024-04-15T06:48:00-CME-001'}...

In [45]:
# Notice that the linkedEvents column allows us to identify the corresponding CME
# Remove rows with missing 'linkedEvents' since we won't be able to assign these to CME
gst_df_short['linkedEvents'] = gst_df_short['linkedEvents'].replace({None: np.nan})
gst_df_short
gst_df_clean = gst_df_short.dropna(subset=['linkedEvents'])
gst_df_clean

/var/folders/48/x7f5kn5x7nbg0mk1f5_t11m80000gn/T/ipykernel_34878/2479849433.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gst_df_short['linkedEvents'] = gst_df_short['linkedEvents'].replace({None: np.nan})

,gstID,startTime,linkedEvents
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,[{'activityID': '2013-05-31T15:45:00-HSS-001'}]
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,[{'activityID': '2013-06-02T20:24:00-CME-001'}]
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,[{'activityID': '2013-09-29T22:40:00-CME-001'}...
4,2013-12-08T00:00:00-GST-001,2013-12-08T00:00Z,[{'activityID': '2013-12-04T23:12:00-CME-001'}...
5,2014-02-19T03:00:00-GST-001,2014-02-19T03:00Z,[{'activityID': '2014-02-16T14:15:00-CME-001'}...
...,...,...,...
112,2023-12-18T06:00:00-GST-001,2023-12-18T06:00Z,[{'activityID': '2023-12-14T17:38:00-CME-001'}...
113,2024-03-03T18:00:00-GST-001,2024-03-03T18:00Z,[{'activityID': '2024-02-28T17:48:00-CME-001'}...
114,2024-03-23T21:00:00-GST-001,2024-03-23T21:00Z,[{'activityID': '2024-03-23T12:49:00-IPS-001'}...
115,2024-03-24T12:00:00-GST-001,2024-03-24T12:00Z,[{'activityID': '2024-03-23T01:25:00-CME-001'}...
116,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,[{'activityID': '2024-04-15T06:48:00-CME-001'}...

In [47]:
# Notice that the linkedEvents sometimes contains multiple events per row
# Use the explode method to ensure that each row is one element. Ensure to reset the index and drop missing values.
gst_explode = gst_df_clean.explode('linkedEvents', ignore_index=True).dropna()
gst_explode

,gstID,startTime,linkedEvents
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,{'activityID': '2013-05-31T15:45:00-HSS-001'}
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,{'activityID': '2013-06-02T20:24:00-CME-001'}
2,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-09-29T22:40:00-CME-001'}
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T01:54:00-IPS-001'}
4,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T02:47:00-MPC-001'}
...,...,...,...
200,2024-03-24T12:00:00-GST-001,2024-03-24T12:00Z,{'activityID': '2024-03-23T01:48:00-CME-001'}
201,2024-03-24T12:00:00-GST-001,2024-03-24T12:00Z,{'activityID': '2024-03-24T14:10:00-IPS-001'}
202,2024-03-24T12:00:00-GST-001,2024-03-24T12:00Z,{'activityID': '2024-03-24T16:25:00-MPC-001'}
203,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,{'activityID': '2024-04-15T06:48:00-CME-001'}
204,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,{'activityID': '2024-04-19T04:53:00-IPS-001'}

In [49]:
# Apply the extract_activityID_from_dict function to each row in the 'linkedEvents' column (you can use apply() and a lambda function)
# and create a new column called 'CME_ActivityID' using loc indexer:
gst_explode.loc[:, 'CME_ActivityID'] = gst_explode['linkedEvents'].apply(lambda x: extract_activityID_from_dict(x))
gst_explode

,gstID,startTime,linkedEvents,CME_ActivityID
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,{'activityID': '2013-05-31T15:45:00-HSS-001'},2013-05-31T15:45:00-HSS-001
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,{'activityID': '2013-06-02T20:24:00-CME-001'},2013-06-02T20:24:00-CME-001
2,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-09-29T22:40:00-CME-001'},2013-09-29T22:40:00-CME-001
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T01:54:00-IPS-001'},2013-10-02T01:54:00-IPS-001
4,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T02:47:00-MPC-001'},2013-10-02T02:47:00-MPC-001
...,...,...,...,...
200,2024-03-24T12:00:00-GST-001,2024-03-24T12:00Z,{'activityID': '2024-03-23T01:48:00-CME-001'},2024-03-23T01:48:00-CME-001
201,2024-03-24T12:00:00-GST-001,2024-03-24T12:00Z,{'activityID': '2024-03-24T14:10:00-IPS-001'},2024-03-24T14:10:00-IPS-001
202,2024-03-24T12:00:00-GST-001,2024-03-24T12:00Z,{'activityID': '2024-03-24T16:25:00-MPC-001'},2024-03-24T16:25:00-MPC-001
203,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,{'activityID': '2024-04-15T06:48:00-CME-001'},2024-04-15T06:48:00-CME-001
204,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,{'activityID': '2024-04-19T04:53:00-IPS-001'},2024-04-19T04:53:00-IPS-001

In [51]:
# Remove rows with missing CME_ActivityID, since we can't assign them to CMEs:

gst_explode.dropna(subset=['CME_ActivityID'], inplace=True)
gst_explode

,gstID,startTime,linkedEvents,CME_ActivityID
0,2013-06-01T01:00:00-GST-001,2013-06-01T01:00Z,{'activityID': '2013-05-31T15:45:00-HSS-001'},2013-05-31T15:45:00-HSS-001
1,2013-06-07T03:00:00-GST-001,2013-06-07T03:00Z,{'activityID': '2013-06-02T20:24:00-CME-001'},2013-06-02T20:24:00-CME-001
2,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-09-29T22:40:00-CME-001'},2013-09-29T22:40:00-CME-001
3,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T01:54:00-IPS-001'},2013-10-02T01:54:00-IPS-001
4,2013-10-02T03:00:00-GST-001,2013-10-02T03:00Z,{'activityID': '2013-10-02T02:47:00-MPC-001'},2013-10-02T02:47:00-MPC-001
...,...,...,...,...
200,2024-03-24T12:00:00-GST-001,2024-03-24T12:00Z,{'activityID': '2024-03-23T01:48:00-CME-001'},2024-03-23T01:48:00-CME-001
201,2024-03-24T12:00:00-GST-001,2024-03-24T12:00Z,{'activityID': '2024-03-24T14:10:00-IPS-001'},2024-03-24T14:10:00-IPS-001
202,2024-03-24T12:00:00-GST-001,2024-03-24T12:00Z,{'activityID': '2024-03-24T16:25:00-MPC-001'},2024-03-24T16:25:00-MPC-001
203,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,{'activityID': '2024-04-15T06:48:00-CME-001'},2024-04-15T06:48:00-CME-001
204,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,{'activityID': '2024-04-19T04:53:00-IPS-001'},2024-04-19T04:53:00-IPS-001

In [53]:
gst_explode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           205 non-null    object
 1   startTime       205 non-null    object
 2   linkedEvents    205 non-null    object
 3   CME_ActivityID  205 non-null    object
dtypes: object(4)
memory usage: 6.5+ KB

In [55]:
# Convert the 'CME_ActivityID' column to string format 
gst_explode['CME_ActivityID'] = gst_explode['CME_ActivityID'].astype(str)
# Convert the 'gstID' column to string format 
gst_explode['gstID'] = gst_explode['gstID'].astype(str)
# Convert startTime to datetime format  
gst_explode['startTime'] = pd.to_datetime(gst_explode['startTime'])
gst_explode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           205 non-null    object
 1   startTime       205 non-null    datetime64[ns, UTC]
 2   linkedEvents    205 non-null    object
 3   CME_ActivityID  205 non-null    object
dtypes: datetime64[ns, UTC](1), object(3)
memory usage: 6.5+ KB

In [57]:
# Rename startTime to startTime_GST 
gst_rename = gst_explode.rename(columns={'startTime':'startTime_GST'})
gst_rename
# Drop linkedEvents
gst_rename.drop('linkedEvents', axis=1, inplace=True)
gst_rename
# Verify that all steps were executed correctly

,gstID,startTime_GST,CME_ActivityID
0,2013-06-01T01:00:00-GST-001,2013-06-01 01:00:00+00:00,2013-05-31T15:45:00-HSS-001
1,2013-06-07T03:00:00-GST-001,2013-06-07 03:00:00+00:00,2013-06-02T20:24:00-CME-001
2,2013-10-02T03:00:00-GST-001,2013-10-02 03:00:00+00:00,2013-09-29T22:40:00-CME-001
3,2013-10-02T03:00:00-GST-001,2013-10-02 03:00:00+00:00,2013-10-02T01:54:00-IPS-001
4,2013-10-02T03:00:00-GST-001,2013-10-02 03:00:00+00:00,2013-10-02T02:47:00-MPC-001
...,...,...,...
200,2024-03-24T12:00:00-GST-001,2024-03-24 12:00:00+00:00,2024-03-23T01:48:00-CME-001
201,2024-03-24T12:00:00-GST-001,2024-03-24 12:00:00+00:00,2024-03-24T14:10:00-IPS-001
202,2024-03-24T12:00:00-GST-001,2024-03-24 12:00:00+00:00,2024-03-24T16:25:00-MPC-001
203,2024-04-19T18:00:00-GST-001,2024-04-19 18:00:00+00:00,2024-04-15T06:48:00-CME-001
204,2024-04-19T18:00:00-GST-001,2024-04-19 18:00:00+00:00,2024-04-19T04:53:00-IPS-001

In [59]:
# We are only interested in GSTs related to CMEs so keep only rows where the CME_ActivityID column contains 'CME'
# use the method 'contains()' from the str library.  
filtered_gst= gst_rename[gst_rename['CME_ActivityID'].str.contains('CME', na=False)]
filtered_gst.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 1 to 203
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           61 non-null     object
 1   startTime_GST   61 non-null     datetime64[ns, UTC]
 2   CME_ActivityID  61 non-null     object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 1.9+ KB

In [71]:
filtered_cme.columns

Index(['cmeID', 'startTime_CME', 'GST_ActivityID'], dtype='object')

### Merge both datatsets

In [75]:
# Now merge both datasets using 'gstID' and 'CME_ActivityID' for gst and 'GST_ActivityID' and 'cmeID' for cme. Use the 'left_on' and 'right_on' specifiers.
merged_gst_cme = pd.merge(filtered_gst, filtered_cme, left_on=['gstID','CME_ActivityID'], right_on= ['GST_ActivityID','cmeID'], how='outer')
merged_gst_cme

,gstID,startTime_GST,CME_ActivityID,cmeID,startTime_CME,GST_ActivityID
0,2013-06-07T03:00:00-GST-001,2013-06-07 03:00:00+00:00,2013-06-02T20:24:00-CME-001,2013-06-02T20:24:00-CME-001,2013-06-02 20:24:00+00:00,2013-06-07T03:00:00-GST-001
1,2013-10-02T03:00:00-GST-001,2013-10-02 03:00:00+00:00,2013-09-29T22:40:00-CME-001,2013-09-29T22:40:00-CME-001,2013-09-29 22:40:00+00:00,2013-10-02T03:00:00-GST-001
2,2013-12-08T00:00:00-GST-001,2013-12-08 00:00:00+00:00,2013-12-04T23:12:00-CME-001,2013-12-04T23:12:00-CME-001,2013-12-04 23:12:00+00:00,2013-12-08T00:00:00-GST-001
3,2014-02-19T03:00:00-GST-001,2014-02-19 03:00:00+00:00,2014-02-16T14:15:00-CME-001,2014-02-16T14:15:00-CME-001,2014-02-16 14:15:00+00:00,2014-02-19T03:00:00-GST-001
4,2014-02-20T03:00:00-GST-001,2014-02-20 03:00:00+00:00,2014-02-18T01:25:00-CME-001,2014-02-18T01:25:00-CME-001,2014-02-18 01:25:00+00:00,2014-02-20T03:00:00-GST-001
...,...,...,...,...,...,...
56,2023-12-18T06:00:00-GST-001,2023-12-18 06:00:00+00:00,2023-12-14T17:38:00-CME-001,2023-12-14T17:38:00-CME-001,2023-12-14 17:38:00+00:00,2023-12-18T06:00:00-GST-001
57,2024-03-03T18:00:00-GST-001,2024-03-03 18:00:00+00:00,2024-02-28T17:48:00-CME-001,2024-02-28T17:48:00-CME-001,2024-02-28 17:48:00+00:00,2024-03-03T18:00:00-GST-001
58,2024-03-24T12:00:00-GST-001,2024-03-24 12:00:00+00:00,2024-03-23T01:25:00-CME-001,2024-03-23T01:25:00-CME-001,2024-03-23 01:25:00+00:00,2024-03-24T12:00:00-GST-001
59,2024-03-24T12:00:00-GST-001,2024-03-24 12:00:00+00:00,2024-03-23T01:48:00-CME-001,2024-03-23T01:48:00-CME-001,2024-03-23 01:48:00+00:00,2024-03-24T12:00:00-GST-001
60,2024-04-19T18:00:00-GST-001,2024-04-19 18:00:00+00:00,2024-04-15T06:48:00-CME-001,2024-04-15T06:48:00-CME-001,2024-04-15 06:48:00+00:00,2024-04-19T18:00:00-GST-001

In [77]:
# Verify that the new DataFrame has the same number of rows as cme and gst
merged_gst_cme.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           61 non-null     object
 1   startTime_GST   61 non-null     datetime64[ns, UTC]
 2   CME_ActivityID  61 non-null     object
 3   cmeID           61 non-null     object
 4   startTime_CME   61 non-null     datetime64[ns, UTC]
 5   GST_ActivityID  61 non-null     object
dtypes: datetime64[ns, UTC](2), object(4)
memory usage: 3.0+ KB

### Computing the time it takes for a CME to cause a GST

In [81]:
# Compute the time diff between startTime_GST and startTime_CME by creating a new column called `timeDiff`.
merged_gst_cme['timeDiff'] = merged_gst_cme['startTime_GST'] - merged_gst_cme['startTime_CME']
merged_gst_cme

,gstID,startTime_GST,CME_ActivityID,cmeID,startTime_CME,GST_ActivityID,timeDiff
0,2013-06-07T03:00:00-GST-001,2013-06-07 03:00:00+00:00,2013-06-02T20:24:00-CME-001,2013-06-02T20:24:00-CME-001,2013-06-02 20:24:00+00:00,2013-06-07T03:00:00-GST-001,4 days 06:36:00
1,2013-10-02T03:00:00-GST-001,2013-10-02 03:00:00+00:00,2013-09-29T22:40:00-CME-001,2013-09-29T22:40:00-CME-001,2013-09-29 22:40:00+00:00,2013-10-02T03:00:00-GST-001,2 days 04:20:00
2,2013-12-08T00:00:00-GST-001,2013-12-08 00:00:00+00:00,2013-12-04T23:12:00-CME-001,2013-12-04T23:12:00-CME-001,2013-12-04 23:12:00+00:00,2013-12-08T00:00:00-GST-001,3 days 00:48:00
3,2014-02-19T03:00:00-GST-001,2014-02-19 03:00:00+00:00,2014-02-16T14:15:00-CME-001,2014-02-16T14:15:00-CME-001,2014-02-16 14:15:00+00:00,2014-02-19T03:00:00-GST-001,2 days 12:45:00
4,2014-02-20T03:00:00-GST-001,2014-02-20 03:00:00+00:00,2014-02-18T01:25:00-CME-001,2014-02-18T01:25:00-CME-001,2014-02-18 01:25:00+00:00,2014-02-20T03:00:00-GST-001,2 days 01:35:00
...,...,...,...,...,...,...,...
56,2023-12-18T06:00:00-GST-001,2023-12-18 06:00:00+00:00,2023-12-14T17:38:00-CME-001,2023-12-14T17:38:00-CME-001,2023-12-14 17:38:00+00:00,2023-12-18T06:00:00-GST-001,3 days 12:22:00
57,2024-03-03T18:00:00-GST-001,2024-03-03 18:00:00+00:00,2024-02-28T17:48:00-CME-001,2024-02-28T17:48:00-CME-001,2024-02-28 17:48:00+00:00,2024-03-03T18:00:00-GST-001,4 days 00:12:00
58,2024-03-24T12:00:00-GST-001,2024-03-24 12:00:00+00:00,2024-03-23T01:25:00-CME-001,2024-03-23T01:25:00-CME-001,2024-03-23 01:25:00+00:00,2024-03-24T12:00:00-GST-001,1 days 10:35:00
59,2024-03-24T12:00:00-GST-001,2024-03-24 12:00:00+00:00,2024-03-23T01:48:00-CME-001,2024-03-23T01:48:00-CME-001,2024-03-23 01:48:00+00:00,2024-03-24T12:00:00-GST-001,1 days 10:12:00
60,2024-04-19T18:00:00-GST-001,2024-04-19 18:00:00+00:00,2024-04-15T06:48:00-CME-001,2024-04-15T06:48:00-CME-001,2024-04-15 06:48:00+00:00,2024-04-19T18:00:00-GST-001,4 days 11:12:00

In [83]:
# Use describe() to compute the mean and median time 
# that it takes for a CME to cause a GST. 
merged_gst_cme.describe()

                        timeDiff
count                         61
mean   2 days 23:29:26.557377049
std    0 days 23:53:09.336914240
min              1 days 08:36:00
25%              2 days 04:00:00
50%              2 days 19:51:00
75%              3 days 13:35:00
max              6 days 03:00:00

### Exporting data in csv format

In [85]:
# Export data to CSV without the index
merged_gst_cme.to_csv("CME_GST_data.csv", index=False)